<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-2">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#mdCreate">
            <i class="far fa-plus-square"></i> Add Employee
          </button>
        </a>
      </div>
      <div class="col-8 text-center">
        <!--        <span class="text-success" th:if="${success}" th:text="${success}"></span>-->
      </div>
      <div class="col-2 text-right">
        <a class="nav-link">
          <!-- Button trigger modal Create New Customer -->
          <button type="button" class="btn btn-outline-primary"
                  data-toggle="modal" data-target="#mdSearch">Search <i class="fas fa-search"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="row">
      <table class="table table-striped table-inverse table-responsive"
             style="display: inline-block; width: 100%; overflow-x: auto">
        <thead class="thead-inverse">
        <tr>

          <th>Code</th>
          <th>ID</th>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Salary</th>
          <th>ID Card</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th>Position</th>
          <th>Division</th>
          <th>Education</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employeeList| paginate: { itemsPerPage: 5, currentPage: p };index as i">
          <td>{{emp.code}}</td>
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.birthday}}</td>
          <td>{{emp.salary}}</td>
          <td>{{emp.idCard}}</td>
          <td>{{emp.phone}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.address}}</td>
          <td>{{emp.position.name}}</td>
          <td>{{emp.division.name}}</td>
          <td>{{emp.education.name}}</td>
          <td>
            <a>
              <!-- Button trigger modal Edit -->
              <button value="{{emp.id}}" #idEdit (click)="trackId(idEdit.value)" type="button"
                      class="btn btn-outline-primary" data-toggle="modal" data-target="#mdEdit">
                Edit <i class="far fa-edit"></i>
              </button>
            </a>
          </td>
          <td>
            <!-- Button trigger modal Delete-->
            <button value="{{emp.id}}" #idDel (click)="trackId(idDel.value)" type="button"
                    class="btn btn-outline-danger" data-toggle="modal" data-target="#mdDel">
              Delete <i class="fas fa-trash-alt"></i>
            </button>
          </td>
          <td><input type="checkbox" class="customerId" value="{{emp.id}}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6 text-right">
        <a class="nav-link">
          <button onclick="getAllId()" type="button" class="btn btn-outline-danger"
                  data-toggle="modal" data-target="#modalDeleteAll">Delete All Selected Employee <i
            class="fas fa-trash-alt"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<!-- Modal Create -->
<div class="modal fade" id="mdCreate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:dodgerblue"><span>Add New Employee</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div>Customer Code</div>
          <input class="form-control" type="text" formControlName="code">
          <div>Customer Name</div>
          <input class="form-control" type="text" formControlName="name">
          <div>Date of Birth</div>
          <input class="form-control" type="date" formControlName="birthday">
          <div>Salary</div>
          <input class="form-control" type="number" formControlName="salary">
          <div>Phone Number</div>
          <input class="form-control" type="text" formControlName="phone">
          <div>ID Card</div>
          <input class="form-control" type="text" formControlName="idCard">
          <div>Email</div>
          <input class="form-control" type="text" formControlName="email">
          <div>Address</div>
          <input class="form-control" type="text" formControlName="address"><br>
          <div>Position</div>
          <select formControlName="position" class="form-control">
            <option value="">--</option>
            <option *ngFor="let pos of positionList" [ngValue]="pos">{{pos.name}}</option>
          </select>
          <div>Division</div>
          <select formControlName="division" class="form-control">
            <option value="">--</option>
            <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name}}</option>
          </select>
          <div>Education Degree</div>
          <select formControlName="education" class="form-control">
            <option value="">--</option>
            <option *ngFor="let education of educationList" [ngValue]="education">{{education.name}}</option>
          </select>
          <br>
          <div class="btnGroup">
            <button type="button" class="btn btnEdit btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="createEmployee()" [disabled]="!employeeForm.valid" data-dismiss="modal" type="button"
                    class="btnEdit btn btn-primary">Create
            </button>
          </div>
        </form>
      </div>
      <!--      <div class="modal-footer">-->
      <!--    -->
      <!--      </div>-->
    </div>
  </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="mdDel" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span data-dismiss="modal" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete employee?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="deleteEmployee()" data-dismiss="modal" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Edit -->
<div class="modal fade" id="mdEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Edit Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="empEditForm">
          <div>Customer Code</div>
          <input class="form-control" type="text" formControlName="code">
          <div>Customer Name</div>
          <input class="form-control" type="text" formControlName="name">
          <div>Date of Birth</div>
          <input class="form-control" type="date" formControlName="birthday">
          <div>Salary</div>
          <input class="form-control" type="number" formControlName="salary">
          <div>Phone Number</div>
          <input class="form-control" type="text" formControlName="phone">
          <div>ID Card</div>
          <input class="form-control" type="text" formControlName="idCard">
          <div>Email</div>
          <input class="form-control" type="text" formControlName="email">
          <div>Address</div>
          <input class="form-control" type="text" formControlName="address"><br>
          <div>Position</div>
          <select formControlName="position" class="form-control" [compareWith]="comparePosition" >
            <option >--</option>
            <option *ngFor="let pos of positionList" [ngValue]="pos">{{pos.name}}</option>
          </select>
          <div>Division</div>
          <select formControlName="division" class="form-control" [compareWith]="compareDivision">
            <option >--</option>
            <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name}}</option>
          </select>
          <div>Education Degree</div>
          <select formControlName="education" class="form-control" [compareWith]="compareEducation">
            <option >--</option>
            <option *ngFor="let education of educationList" [ngValue]="education">{{education.name}}</option>
          </select>
                <div class="btnGroup">
            <button type="button" class="btn btnEdit btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="updateEmployee()" data-dismiss="modal" [disabled]="!empEditForm.valid"
                    class="btn btnEdit btn-primary">Edit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Search-->
<div class="modal fade" id="mdSearch" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #b6d4fe">Find Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="empSearchForm">
          <div>Customer Code</div>
          <input class="form-control" type="text" formControlName="code">
          <div>Customer Name</div>
          <input class="form-control" type="text" formControlName="name">
          <div>Date of Birth</div>
          <input class="form-control" type="text" formControlName="birthday">
          <div>Salary</div>
          <input class="form-control" type="number" formControlName="salary">
          <div>Phone Number</div>
          <input class="form-control" type="text" formControlName="phone">
          <div>ID Card</div>
          <input class="form-control" type="text" formControlName="idCard">
          <div>Email</div>
          <input class="form-control" type="text" formControlName="email">
          <div>Address</div>
          <input class="form-control" type="text" formControlName="address"><br>
          <div>Position</div>
          <select formControlName="position" class="form-control" [compareWith]="comparePosition" >
            <option value="">--</option>
            <option *ngFor="let pos of positionList" [ngValue]="pos">{{pos.name}}</option>
          </select>
          <div>Division</div>
          <select formControlName="division" class="form-control" [compareWith]="compareDivision">
            <option value="">--</option>
            <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name}}</option>
          </select>
          <div>Education Degree</div>
          <select formControlName="education" class="form-control" [compareWith]="compareEducation">
            <option value="">--</option>
            <option *ngFor="let education of educationList" [ngValue]="education">{{education.name}}</option>
          </select>
          <br>
          <div class="btnGroup">
            <button type="button" class="btn btnEdit btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="search()" data-dismiss="modal"
                    class="btn btnEdit btn-primary">Find</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
